<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DESKTOP-MI5N6JD\SQLEXPRESS_QLDatTiecNhaHang" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-MI5N6JD\SQLEXPRESS;user id=sa;password=sa2012;initial catalog=QLDatTiecNhaHang;Persist Security Info=true" />
        <add name="QL_DatTiecNhaHang.Properties.Settings.QLDatTiecNhaHangConnectionString"
            connectionString="Data Source=DESKTOP-MI5N6JD\SQLEXPRESS;Initial Catalog=QLDatTiecNhaHang;User ID=sa;password=sa2012;Persist Security Info=true"
            providerName="System.Data.SqlClient" />
       
        
    </connectionStrings>
</configuration>