<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DESKTOP-TC830C5_QLDatTiecNhaHang" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-TC830C5;user id=sa;password=sa;initial catalog=QLDatTiecNhaHang;Persist Security Info=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>